<% provide(:title, "パスワードを変更") %>
<% if @user.provider == nil %>
  <div class="container">
    <div class="view-account">
      <div class="module">
        <div class="module-inner">
          <div class="side-bar">
            <div class="user-info">
              <%= image_tag @user.image.variant(resize: "150x150") if @user.image.attached? %>
              <%= holder_tag '150x150', 'アイコン' unless @user.image.attached? %>
              <ul class="meta list list-unstyled">
                <li class="name">
                  <%= @user.username %>
                </li>
              </ul>
            </div>
            <nav class="side-menu">
              <ul class="nav">
                <li><%= link_to user_path(@user) do %>
                    <%= fa_icon("user lg")%> プロフィール
                  <% end %>
                </li>
                <li><%= link_to user_reviews_path(@user) do %>
                    <%= fa_icon("pencil lg")%> レビュー
                  <% end %>
                </li>
                <li><%= link_to edit_user_registration_path do %>
                    <%= fa_icon("cog lg")%> 設定
                  <% end %>
                </li>
                <li class="active"><%= link_to password_change_users_path do %>
                    <%= fa_icon("lock lg")%> パスワードを変更
                  <% end %>
                </li>
              </ul>
            </nav>
          </div>

          <div class="content-panel">
            <div class="content-header-wrapper">
              <h2 class="title">パスワードを変更</h2>
            </div>
            <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
              <form>
                <div class="col-sm-6 offset-sm-3">
                  <%= render 'users/shared/error_messages' %>
                </div>
                <div class="form-group row">
                  <%= f.label :current_password, "現在のパスワード", class: "col-sm-3 col-form-label" %>
                  <div class="col-sm-6">
                    <%= f.password_field :current_password, class: "form-control" %>
                  </div>
                </div>
                <div class="form-group row">
                    <%= f.label :password, "新しいパスワード", class: "col-sm-3 col-form-label" %>
                  <div class="col-sm-6">
                    <%= f.password_field :password, :autocomplete => "off", class: "form-control"  %>
                  </div>
                </div>
                <div class="form-group row">
                    <%= f.label :password_confirmation, "新しいパスワードを確認", class: "col-sm-3 col-form-label" %>
                  <div class="col-sm-6">
                    <%= f.password_field :password_confirmation, class: "form-control" %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-sm-3 col-sm-10">
                  <%= f.submit "パスワードを変更", class: "btn btn-primary"%>
                  </div>
                </div>
              </form>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
