<div class="container">
  <div class="view-account">
    <section class="module">
      <div class="module-inner">
        <div class="side-bar">
          <div class="user-info">
            <%= image_tag @user.image.variant(resize: "150x150") if @user.image.attached? %>
            <%= holder_tag '150x150', 'アイコン' unless @user.image.attached? %>
            <ul class="meta list list-unstyled">
              <li class="name">
                <%= @user.username %>
              </li>
            </ul>
          </div>
          <nav class="side-menu">
            <ul class="nav">
              <li class="active"><%= link_to user_path(current_user) do %>
                  <%= fa_icon("user lg")%> プロフィール
                <% end %>
              </li>
              <li><%= link_to edit_user_registration_path do %>
                  <%= fa_icon("cog lg")%> 設定
                <% end %>
              </li>
              <% if @user.provider == nil %>
                <li><%= link_to password_change_users_path do %>
                    <%= fa_icon("lock lg")%> パスワードを変更
                  <% end %>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>

        <div class="content-panel">
          <div class="content-header-wrapper">
            <h2 class="title">プロフィール</h2>
          </div>
          <div class="drive-wrapper drive-list-view">
            <div class="table-responsive drive-items-table-wrapper">
              <%= @user.username %>
              <%= @user.email %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
