<% provide(:title, "レビューを投稿") %>
<div class="container">
  <div class="video-info justify-content-center d-flex">
    <%= link_to image_tag(@video.thumbnail,:width => "100"), video_path(@video) %>
    <%= link_to @video.title, video_path(@video) %>
  </div>
  <%= form_for [@video, @review] do |f| %>
    <form>
      <div class="form-group row">
        <%= f.label :title, class: "col-lg-1 offset-lg-3 col-form-label" %>
        <div class="col-lg-4">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :content, class: "col-lg-1 offset-lg-3 col-form-label" %>
        <div class="col-lg-4">
          <%= f.text_area :content, class: "form-control", size: "60x10"  %>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-lg-7 col-lg-2">
          <%= f.submit 'レビューする', class: "btn btn-primary" %>
        </div>
      </div>
    </form>
  <% end %>
</div>